html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgb(243, 243, 243);
}
.title{
    margin: auto;
    height: 40px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 微软雅黑;
}
.list{
    height: 40px;
    color: white;
}
.list ul{
    height: 40px;
    width: 810px;
    margin-left: 10px;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list li{
    list-style: none;
    cursor: pointer;
}
.search{
    height: 40px;
    width: 280px;
    align-items: center;
    margin-left: 80px;
}
.search img{
    position: relative;
    left: 30px;
    top: 7.5px;
    height: 23px;
    width: 25px;
    cursor: pointer;
}
.search input{
    height: 24px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border: 0px solid white;
    text-indent: 2em;
    background-color: gainsboro;
    outline: none;
}
.login{
    height: 40px;
    width: 200px;
}
.login ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 160px;
    padding: 0px;
    margin: 0px;

}
.login ul li{
    list-style: none;
    color: white;
    cursor: pointer;
}
#lunbo1{
    width: 1500px;
    height: 570px;
    cursor: pointer;
}
.lanmu{
    margin: auto;
    height: 50px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lanmu ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}
.lanmu ul li{
    list-style: none;
    color: cadetblue;
    font-size: 14px;
    cursor: pointer;
}
.shoubo{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.shoubo img{
    cursor: pointer;
}
.shoubo2{
    height: 273px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.liuxing{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.liuxing img{
    cursor: pointer;
}
.liuxingleft{
    height: 273px;
    width: 700px;
    padding: 5px;
    display: flex;
}

#p1{
    font-size: 20px;
    color: grey;
    font-weight: bold;
    margin: 0px;
}
#p2{
    font-size: 20px;
    color: limegreen;
    font-weight: bold;
    margin: 0px;
}
#p3{
    font-size: 12px;
    color: grey;
}
.liuxingright{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 273px;
    width: 460px;
    margin-right: 15px;
}
.lanmu1{
    margin: auto;
    height: 50px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.yuedan{
    display: flex;
    justify-content: space-between;
    height: 275px;
    width: 1200px;
    margin: auto;
    background-color: rgb(243, 243, 243);
    margin-bottom: 2px;
}
.yuedan img{
    cursor: pointer;
}
.yuedanimg{
    border: 1px solid white;
    height: 275px;
    width: 220px;
}
.yuedan p{
    font-size: 13px;
    text-indent: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.yedi{
    height: 70px;
    width: 100%;
    margin: auto;
    background-color: white;
}
.yedi ul{
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 590px;
    margin: auto;
    padding-top: 25px;
}
.yedi ul li{
    list-style: none;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}
.yedi p{
    font-size: 9px;
    text-align: center;
}
html a{
    color: white;
    text-decoration: none;
}